<!-- Toolbar -->
<div class="container">
  <div class="card highlight-card card-small">
  <span>Welcome</span>
  </div>
    <div class="spacer"></div>
</div>
<div class="container">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>

  <div class="card-container">
    <router-outlet></router-outlet>
  </div>

  <!-- Links -->
  <div class="card-container">
    
  </div>

  <!-- Footer -->
  <footer>
  </footer>
</div>


